html,body {
	height: 100%;
	overflow: hidden;
}
body {
	font-size: 0.373333rem!important;
}
.mui-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#done.mui-disabled{
	color: gray;
}
.mui-table-view{
	margin-bottom: 1.625rem;
}
.mui-indexed-list-bar{
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 1.2rem;
}
.mui-indexed-list-bar > a {
	flex:1;
	line-height: 0.32rem;
}
.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	/* padding-top: 2.8125rem; */
	background-color: #ef6330;
}
.header {
	position: relative;
	margin-top: 2.8125rem;
}
.mui-bar {
	top: 1.4125rem;
	background-color: #ef6330!important;
}
.mui-bar-nav {
	box-shadow: none;
}
.mui-bar-nav.mui-bar .mui-icon,.mui-title {
	color: #fff!important;
}
section {
	flex: 1;
	background-color: #fff;
}